body {
    /*background-color: #d0e4fc;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

h1 {
    color: #555;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 120px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.container button {
    display: inline-block;
    padding: 1em 2em;
    outline: none;
    font-weight: 600;
    border: none;
    background-color: #fff;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    cursor: pointer;
}

#success-btn {
    color: #90b900;
    border-color: #90b900;
}

#success-btn:hover {
    color: #fff;
    background-color: #90b900;
}

#error-btn {
    color: #e85656;
    border-color: #e85656;
}

#error-btn:hover {
    color: #fff;
    background-color: #e85656;
}

#info-btn {
    color: #2dacd1;
    border-color: #2dacd1;
}

#info-btn:hover {
    color: #fff;
    background-color: #2dacd1;
}

#warning-btn {
    color: #dfb81c;
    border-color: #dfb81c;
}

#warning-btn:hover {
    color: #fff;
    background-color: #dfb81c;
}

/* Notifications */

#notification-container {
    display: block;
    position: absolute;
    /* top: 10px; */
    bottom: 10px;
    right: 10px;
}

.notification {
    display: block;
    position: relative;
    padding: 15px 15px 15px 60px;
    overflow: hidden;
    width: 250px;
    border-radius: 4px;
    box-shadow: 0 0 12px #999;
    color: #fff;
    -webkit-animation: show-notification 3s ease-out;
    animation: show-notification 3s ease-out;
    margin-bottom: 10px;
}

.notification-close {
    padding: 0;
    cursor: pointer;
    background: none;
    border: 0;
    outline: none;
    -webkit-appearance: none;
    position: absolute;
    top: 5px;
    right: 10px;
    color: #fff;
    text-shadow: 0 1px 0 #ddd;
}

.notification-close::before {
    font-family: 'FontAwesome';
    font-size: 12px;
    font-weight: normal;
    content: '\f00d';
}

.notification-close:hover {
    color: #000000;
}

.notification-title {
    font-size: 1.1em;
    font-weight: bold;
}

.notification-success::before,
.notification-error::before,
.notification-info::before,
.notification-warning::before {
    font-family: 'FontAwesome';
    font-size: 35px;
    display: block;
    position: absolute;
    left: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.notification-success {
    background-color: #90b900;
}

.notification-success::before {
    content: '\f058';
}

.notification-error {
    background-color: #e85656;
}

.notification-error::before {
    content: '\f057';
}

.notification-info {
    background-color: #2dacd1;
}

.notification-info::before {
    content: '\f05a';
}

.notification-warning {
    background-color: #dfb81c;
}

.notification-warning::before {
    content: '\f071';
}

@-webkit-keyframes show-notification {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 100%);
    }
    10% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
    }
    90% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate(0, 100%);
    }
}

@keyframes show-notification {
    0% {
        opacity: 0;
        transform: translate(0, 100%);
    }
    10% {
        opacity: 1;
        transform: translate(0, 0);
    }
    90% {
        opacity: 1;
        transform: translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: translate(0, 100%);
    }
}


.notification {
    animation: show-notification 3s ease-out;
    animation-fill-mode: forwards; /* Уведомление остается в последнем состоянии анимации */
    display: block;
    position: relative;
    padding: 15px 15px 15px 60px;
    overflow: hidden;
    width: 250px;
    border-radius: 4px;
    box-shadow: 0 0 12px #999;
    color: #fff;
}

.notification-message{
    margin-left: 10px;
    /* margin-right: 15px; */
}