.rtable {
  display: inline-block;
  vertical-align: top;


  width: 100%;
  table-layout: fixed; /* Обеспечивает равномерное распределение ширины */

  overflow-x: auto;

  /* // optional - looks better for small cell values */
  white-space: nowrap;

  border-collapse: collapse;
  border-spacing: 0;
}

.rtable {
  /* // optional - enable iOS momentum scrolling */
  -webkit-overflow-scrolling: touch;

  /* // scrolling shadows */
  background: radial-gradient(left, ellipse, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, 0) 75%) 0 center,
    radial-gradient(right, ellipse, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
  background-size: 10px 100%, 10px 100%;
  background-attachment: scroll, scroll;
  background-repeat: no-repeat;
  min-height: 300px;
}

.rtable td:first-child {
  height: auto;
}

.rtable th {
  font-size: 11px;
  text-align: left;
  text-transform: uppercase;
  background: #212121;
  color: white;
}

.rtable th {
  padding: 6px 6px;
  border: 1px solid #d9d7ce;
  /* white-space: nowrap; */
}

.rtable td {
  padding: 6px 6px;
  border: 1px solid #d9d7ce;
  /* white-space: nowrap; */
}

table {
  margin-bottom: 30px;
}

/* стили колонок */
/* 5 колонок */
.rtable .col-code5 {
  width: 3%;
}
.rtable .col-code5 .black {
  width: 3%;
  color: black;
}

.rtable .col-name5 {
  width: 72%;
}

.rtable .col-name5 .black{
  /* width: 70%; */
  color: black;
  height: 30px;
}

.rtable .col-grp5 {
  width: 15%;
  min-width: 150px;
}

.rtable .col-meas5 {
  width: 10%;
  min-width: 100px;
}

.rtable .col-actions5 {
  width: 5%;
}

.rtable .fxd-height {
  height: 10px;
}

.rtable .fnt {
  font-size: 16px;
}

/* 3 колонок v2*/
.rtable .col-code3 {
  width: 3%;
}
.rtable .col-code3 .black {
  width: 3%;
  color: black;
}

.rtable .col-name3 {
  width: 96%; 
  /* нужно больше почемуто чем сумма 5+5 */
}

.rtable .col-name3 .black{
  color: black;
  height: 30px;
}

.rtable .col-actions3 {
  width: 5%;
}


.rtable tr:hover {
  background-color: #ffefc6; /* Цвет фона при наведении */
}


/* Стили для адаптивности */
@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
